.navbar {
  background: black;
  border-radius: initial;
  width: 100%;
  border-bottom: 1px solid white;
}

.navbar-brand {
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  color: white !important;
  transition-duration: 1.0s;
}

.nav-link {
  padding-top: 17px !important;
  color: white !important;
  transition-duration: 1.0s;
}

.nav-brand:hover,
.nav-link:hover {
  color: tomato !important;
}