extends layout

block content
  div#root!=component
  script(src="/vendor/jquery/dist/jquery.min.js" defer)
  script(src="/vendor/tether/dist/js/tether.min.js" defer)
  script(src="/vendor/bootstrap/dist/js/bootstrap.min.js" defer)
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer)
  script(src="/dist/bundle.min.js" defer)